<div class="container alignments">
  <img src="../../../assets/images/chrome_Lis7o8LLGA.png"  class="login-image" alt="BetterVet">
  <div class="login-card">
    <div class="text-center">
      <h1 class="login-label">Login</h1>
      <form class="">
        <div class="form-input-div">
          <input type="text" class="form-input" placeholder="Insira seu usuário ou CPF">
        </div>
        <div class="form-input-div mt-5">
          <input type="text" class="form-input" placeholder="Insira sua senha">
        </div>
        <div>
          <button class="form-button">
            Entrar
          </button>
        </div>
        <div class="login-footer-links">
          <p>
            Primeira vez aqui ?
          </p>
          <a href="#">
           Cadastre-se
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
